@CHARSET "UTF-8";

.unset-list {
	margin-top: 50px;
}

.unset-item {
	margin-bottom: 25px;
}

.unset-item label {
	width: 30%;
	display: inline;
}

.unset-item input {
	width: 65%;
	display: inline;
	margin-left: 5%;
	border: none;
	font-size: large;
}

.reset-list {
	
}

.reset-list div {
	margin-bottom: 25px;
}