.center{
	margin-right: auto;
	margin-left: auto;
}

.crown{
	height:30px;
	padding-left:5px;
	padding-right:5px;
	margin-top:-10px;
}

.product{
	margin-top: 10px;
	padding: 10px;
	width:1000px;
}

.product_item{
	display: inline-block;
	margin-left: 15px;
	margin-top:20px;
}

.product_item_description{
	color:#CA723D;
}

.description_left{
	display:inline-block;
	margin-top:10px;
}

.description_right{
	float:right;
}

.price{
	color:black;
	font-size:25px;
}

.service{
	margin-top: 10px;
	padding: 10px;
	height:400px;
	width:1000px;
}

.service_item{
	display: inline-block;
	margin-top:20px;
	margin-left: 15px;
	position:relative;
}

.service_item_description{
	opacity:0.6;
	background:black;
	position:absolute;
	width:259px;
	bottom:1px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	color:white;
	
}

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}

